th,
td {
  padding: 4px 60px 4px 0px;
  text-align: left;
}

[data-action] {
  cursor: pointer;
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "↓";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "↑";
}

/******** WINNERS *******/
td[data-field="prefect"]::after {
  /*content: "🛡️";*/
  content: "🏆";
  cursor: pointer;
}

td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}

/**REMOVE PREFECTS MODAL**/

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: #ffe19e;
  position: relative;
}

button.closebutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.dialog h1 {
  margin-top: 0;
}

/**DETAILS MODAL**/

.details_content {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: white;
  position: relative;
}
